@{
    ViewData["Title"] = "Task Quadrants";
}

<div class="container">
    <div class="row">
        <div class="col-2 border">
            
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Urgent</h6>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Not Urgent</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border" style="writing-mode: vertical-lr; transform: rotate(180deg); text-align: center;">
            <h6>Important</h6>
        </div>
        <div class="col-5 border" style="text-align: center;">

            <h6>Quadrant 1</h6>
            <table class="table table-bordered">
                <thead class="font-weight-bold">
                    <tr>

                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Quadrant1)
                    {
                    <tr>
                        <td>@x.Task_Name</td>
                        <td>@x.Due_Date</td>
                        <td>@x.Category.Category_Name</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskID">Delete</a></td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Quadrant 2</h6>
            <table class="table table-bordered">
                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Quadrant2)
                    {
                    <tr>
                        <td>@x.Task_Name</td>
                        <td>@x.Due_Date</td>
                        <td>@x.Category.Category_Name</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskID">Delete</a></td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border" style="writing-mode: vertical-lr; transform: rotate(180deg); text-align:center;">
            <h6>Not Important</h6>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <table class="table table-bordered">
                <thead class="font-weight-bold">
                    <tr>

                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Quadrant3)
                    {
                    <tr>
                        <td>@x.Task_Name</td>
                        <td>@x.Due_Date</td>
                        <td>@x.Category.Category_Name</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskID">Delete</a></td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Quadrant 4</h6>
            <table class="table table-bordered">
                <thead class="font-weight-bold">
                    <tr>

                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Quadrant4)
                    {
                    <tr>
                        <td>@x.Task_Name</td>
                        <td>@x.Due_Date</td>
                        <td>@x.Category.Category_Name</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskID">Delete</a></td>
                    </tr>
                    
                    }
                </tbody>
             </table>
        </div>
    </div>
</div>
